div{color: blue ;opacity: 0.5;border:3px solid; background-color: rgb(0, 255, 242); }
div.fixed{color:goldenrod; opacity: 10000000000; border: 3px solid; size: 3; background-color: bisque;}
div.sticky{opacity: 100; border: 10px solid; background-color: white;}
h1{color: crimson; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: darkcyan; border: 10px solid;}
body{background-color: beige;}
